# /etc/systemd/system/loghit.service
# /etc/systemd/system/loghit.service
[Unit]
Description=Infinitum Sequence Processing Service
After=network.target rabbitmq-server.service

[Service]
User=root
Group=root
WorkingDirectory=/opt/collector_service
ExecStart=/opt/collection_venv/bin/python service.py --role sequence
Restart=on-failure
RestartSec=10
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/etc/infinitum/collector.env

[Install]
WantedBy=multi-user.target